<h1>New User</h1>

<div class="login">
   <div class="container">
     <div class="form">
       <%= render 'form', user: @user, form_for: :signup %>
       <button><%= link_to 'Back', current_user %></button>
     </div>
   </div>
</div>