<h1>New User</h1>

<div class="login">
  <div class="container">
    <div class="form">
      <%= render 'form', user: @user, form_for: :signup %>


      <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>
