<h1>Editing Inquiry</h1>

<%= render 'form', inquiry: @inquiry %>

<%= link_to 'Show', @inquiry %> |
<% if current_user && current_user.role == "House Hunter" %>
<%= link_to 'Back', user_path %>
<%end %>